<div class="container mt-5">
  <div class="row">
      <!-- <div class="col-md-6">
        <app-auth>
          <h2>Sign Up</h2>
          <button class="btn btn-primary btn-sm btn-block">Sign Up</button>
        </app-auth>
         </div>
      <div class="col-md-6">
        <app-auth>
           <h2>Log In</h2>
          <button class="btn btn-primary btn-sm btn-block">Log In</button>
        </app-auth>
      </div> -->
<div class="col-12">
  <button class="btn btn-primary mt-4">Remove</button>
</div>
<app-get-confirm>
  <h3>Are You Shur To Remove The Post With Id 123?</h3>
  <p>Yoy can not revert back</p>
</app-get-confirm>
    </div>
<!-- 
  <div class="row">
  <div class="col-12">
      <app-test>
        <h2>Test Heading</h2>
      </app-test>
    </div>
  </div> -->
</div> 